.container {
    margin:auto;


}

.container h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 36px;
}

table {
    border-collapse: collapse;
    margin: auto;
    border: #61dafb solid 1px;
}

table, th, td {
    border: #61dafb solid 1px;
}

td, th {
    padding: 5px;
    max-width: 100px;
    min-width: 100px;
}