.endCabin table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

.endCabin th {
    border: #61dafb solid 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: black;
    padding: 5px;
}

.endCabin td {
    border: #61dafb solid 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: black;
    padding: 5px;
}

.medium {
    min-width: 140px;
    max-width: 140px;
}

.btn {
    min-width: 80px;
    max-width: 80px;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    padding-right: 20px;
}

input {
    min-width: 300px;
    max-width: 300px;
    border-radius: 4px;
    border: #61dafb solid 1px;
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
}

input:focus {
    box-shadow: 0 0 5px #FCC551;
    border: 1px solid #FCD051;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 30px;
    color: red;
    font-size: 20px;
}

.btnDelete {
    background-color: red;
    border: 1px solid red;
    outline: none;
    padding: 10px 21px;
}

.btnDelete:hover {
    background-color: white;
    color: red;
}

.secondContainer {
    margin-top: 40px;
}

.filled {
    background-color: #61dafb;
}